@import 'variables';

html {
  box-sizing: border-box;
  font-size: 100%;
  font-family: 'Manrope', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  list-style: none;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-image: url(../images/bg-pattern.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: $very-pale-blue;
}

h1,
h2,
h3 {
  margin-top: 0px;
}

h1 {
  font-size: 2rem;

  @media (min-width: 64em) {
    font-size: 5rem;
  }
}

h2 {
  font-size: 1.5rem;

  @media (min-width: 64em) {
    font-size: 4rem;
  }
}

h3 {
  font-size: 1.2rem;

  @media (min-width: 64em) {
    font-size: 3rem;
  }
}

p {
  font-size: 15px;
}

header {
  height: 33%;
  text-align: center;
  // background-image: url(../images/pattern-circles.svg);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-image: url(../images/pattern-circles.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;

  .header__title {
    font-size: 1.7rem;
    color: $dark-desaturated-blue;
    margin-bottom: 10px;
  }

  .header__description {
    color: $grayish-blue;
    font-weight: 600;
    margin-top: 0;
  }
}

main {
  display: flex;
  justify-content: center;
}

.price-card {
  width: 550px;
  height: 400px;
  font-size: 0.85rem;
  color: $grayish-blue;
  background-color: $white;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);

  .price-card__slider {
    font-weight: 700;
    letter-spacing: 1.3px;

    .price-card__pageviews {
      display: inline-block;
      margin: 50px;
    }

    .price-card__price {
      display: inline-block;
      margin: 50px;
      margin-left: 100px;

      .price-display {
        display: inline-block;
        font-size: 3rem;
        color: $dark-desaturated-blue;
      }
    }

    .price-card__slidebar {
      width: 400px;
      height: 20px;
    }
  }
}

// Toggle switch stylying start
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
// Toggle switch stylying end

// .white {
//   color: $white;
// }

// .dkGray {
//   color: $darkGray;
// }
